In [ ]:
import pandas as pd
with open("../collatz_conjecture_100m_data.txt","r",encoding='utf-8') as data:
    data.seek(0,2)
    len=data.tell
    
    x=li[0:-2]
    print(x)

2,

In [ ]:
import pandas as pd
with open("../collatz_conjecture_100m_data.txt","r",encoding='utf-8') as data:
    batch_1m=[0]*1000000
    pan_data=pd.DataFrame()
    batch_1m[0]=1
    i=1
    x=0
    for line in data:
        line=line.strip()
        if len(line)<=1:continue
        if line[-1]==",":line=line[0:-2]
        batch_1m[i]=line
        if (i+1)%1000000==0:
            pan_data[f"start_num : {(i-1000000+2)+1000000*x}~{i+1+1000000*x}"]=batch_1m
            batch_1m=[0]*1000000
            i=-1
            x+=1
        i+=1
print(pan_data.shape)
print(pan_data[-1])

In [19]:
pan_data.iloc[2]

start_num : -1~1000000    98000004,49000002,24500001,73500004,36750002,1...
Name: 2, dtype: object

In [ ]:
# Parquet 저장 (압축 zstd 권장)
pan_data.to_parquet("dataset.parquet", engine="pyarrow", compression="zstd")

^C

In [2]:
import pyarrow.parquet as pq

pq_file = pq.ParquetFile("../collatz_100m.parquet")

In [3]:
print("Row groups:", pq_file.num_row_groups)

Row groups: 100

In [ ]:
import pandas as pd
row=pq_file.read_row_group(1) #
df=row.to_pandas()
df

                                                  numbers
0       1000002,500001,1500004,750002,375001,1125004,5...
1       1000003,3000010,1500005,4500016,2250008,112500...
2       1000004,500002,250001,750004,375002,187501,562...
3       1000005,3000016,1500008,750004,375002,187501,5...
4       1000006,500003,1500010,750005,2250016,1125008,...
...                                                   ...
999995  1999997,5999992,2999996,1499998,749999,2249998...
999996  1999998,999999,2999998,1499999,4499998,2249999...
999997  1999999,5999998,2999999,8999998,4499999,134999...
999998  2000000,1000000,500000,250000,125000,62500,312...
999999  2000001,6000004,3000002,1500001,4500004,225000...

[1000000 rows x 1 columns]

In [ ]:
from datasets import load_dataset
dataset = load_dataset("Taery/Collatz_conjecture_100m")

README.md: 0.00B [00:00, ?B/s]

collatz_100m.parquet:   0%|          | 0.00/7.98G [00:00<?, ?B/s]